body{
	background-color: #ccc;
	font-size: 24px;
	font-weight: bold;
}
.timer{
	text-align: center;
	margin-bottom: 100px;
}
.clock{
	border: 4px solid black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 30px auto;
}
.clock p {
	margin-top: 50px;
}
button {
    background-color: #22262B; 
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#minusBreak, #breakMinutes, #plusBreak, #minusSession, #sessionMinutes, #plusSession{
	display: inline;
}
